body{
    background-color: rebeccapurple;
}
.bal{
    color: coral;
}
.gaar{
    color: rgba(237, 235, 165, 0.711);
}
#contact-us{
    color: aqua;
    text-align: right;
    text-align: end;
}
.list-01{
    color: rgb(232, 217, 217);
}
#l002{
    color: cadetblue;
}
/* a:link{
    color: rgb(173, 228, 255);
} */
a + #contact-us{
    font-style: italic;
}
div.lamo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    color: cyan;
}
div p{
    color: bisque;
    
}
div h1{
    background-color: azure;
}

p[class|=random]{
    color: coral;
    background-color: cornflowerblue;
}
div.lol{
    width: 30%;
    height: 161px;
    /* float: right; */
    background: linear-gradient(-90deg,rgb(102 51 153),rgb(222 100 255));
}
h3{
    color: aliceblue;
}
.lin{
    text-decoration: none;
    color: rgb(255 0 80);
}
a:visited{
    text-decoration: line-through;
}
/* a:link{
    text-decoration: none;
    color: rgb(255 0 80);
} */
div.fuck {
    border: 3px solid #24a78d;
    margin-top: 6%;
    width: 70%;
    background: linear-gradient(90deg,#1b64bf,rgb(172, 10, 156));
}
div.container{
    background : linear-gradient(-90deg,rgb(102 51 153),rgb(222 100 255));
    display: flex;
    height: 300px;
    justify-content: flex-end;
    align-items: flex-start;
}
div[class|=lul]{
    background : linear-gradient(90deg,rgba(198, 255, 99, 0.833),rgba(184, 51, 119, 0.725));
    display: flex;
    height: 300px;
    justify-content: flex-end;
    align-items: flex-start;
}
div.container-item{
    background:linear-gradient(270deg,#ff863fc3,rgb(172, 10, 156));
    margin: 3%;
    border: 2px solid rgba(255, 250, 104, 0.855);
    width: auto;
    padding: 1%;
    text-align: center;
    /* line-height: 90%; */
    color: #ffffff;
    flex-grow: 1;
    /* flex-shrink: 6;
    flex-basis: 100px; */
}
div.button{
    margin: 5px;
    background: linear-gradient(90deg,rgb(255, 0, 115),rgb(103 52 154));
    display: flex;
}
#btn1{
    border: 2px solid rgb(18, 251, 162);
}
#btn1:hover{
    background-color: #1b64bf;
    /* font-size: larger; */
    color: #ffffff;
    transition: ease-in-out;
    /* transition-delay: 1s; */
    transition-duration: 300ms;
    transform: translate(0px,-10px);
}
#item-04:hover{
    background-color: #1b64bf;
    /* font-size: larger; */
    color: #ffffff;
    transition: ease-in-out;
    /* transition-delay: 1s; */
    transition-duration: 300ms;
}
div.numbersContainer{
    height: 300px;
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto auto ;
    /* justify-content: start; */
    /* justify-content: space-around; */
    justify-content: space-evenly;
    /* justify-content: space-between; */
    /* grid-row-gap: 200px; */
}
div.number-items{
    background:linear-gradient(270deg,#ff863fc3,rgb(172, 10, 156));
    margin: 3%;
    border: 2px solid rgba(255, 250, 104, 0.855);
    width:70px;
    padding: 1%;
    text-align: center;
    color: #ffffff;
    flex-grow: 1;
}

#tryContainer{
    background:linear-gradient(270deg,#3fd5ffc3,rgb(172, 10, 156));
    border: 2px solid rgba(255, 250, 104, 0.855);
    font-size: larger;
    color: cornsilk;
}